.interactive-piano__piano-settings__wrapper {
  height: 60px;
}

.interactive-piano__settings-group {
  margin-top: 8px;
  margin-left: 8px;
}

.interactive-piano__settings-group:first-of-type {
  margin-left: 0;
}
