html {
  height: 100%;
}

body {
  position: relative;

  min-height: 100%;
  margin: 0;
  padding: 0;

  font-family: Roboto, sans-serif;

  /* Always show vertical scrollbar to prevent jumpy navigation. */
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
